<div class="container">
<div class="row">
  <div class="col-md-2 text-center" style="margin: 30px 0 35px 0;">
     <h3 style="background-color: #ff66cc; color: white;">商品一覧</h3>
     <!--<div class="col-md-8"><h1>商品一覧</h1></div>-->
      </div>
      <div class="col-md-8"></div>
     <div class="col-md-2">
       <%= link_to "", new_admin_item_path, class: "fas fa-birthday-cake fa-3x" %>
     </div>

</div>
<table class='table table-hover table-inverse'>
   <thead>
     <tr class="info">
       <th>商品ID</th>
       <th>商品名</th>
       <th>税抜価格</th>
       <th>ジャンル</th>
       <th>ステータス</th>
     </tr>
   </thead>
   <tbody>
     <% @items.each do |item| %>
       <tr>
         <td><%= item.id %></td>
         <td><%= link_to item.name, admin_item_path(item.id), class: "text-dark" %></td>
         <td><%= item.price %></td>
         <td><%= item.genre.name %></td>
         <td>
           <% if item.is_active == true %>
             販売中
           <% else %>
             販売停止中
           <% end %>
         </td>
       </tr>
     <% end %>
     <!--kaminari記述-->
     <%= paginate @items %>
   </tbody>
</table>
</div>