<div class="container">
   <div class="row">
     <h3>商品新規登録</h3>
   </div>
   <div class="row">
     <%= form_with model:@item, url:admin_items_path, local:true do |f| %>
       <table>
         <tr>
           <td></td>
           <td>商品画像</td>
           <td>
            <%= f.attachment_field :image, class: "image" %>
           </td>
         </tr>
         <tr>
           <td></td>
           <td>商品名</td>
           <td><%= f.text_field :name %></td>
         </tr>
         <tr>
           <td></td>
           <td>商品説明</td>
           <td><%= f.text_area :introduction %></td>
         </tr>
         <tr>
           <td></td>
           <td>ジャンル</td>
           <td>
             <%= f.collection_select :genre_id, @genres, :id, :name, {prompt: "選択してください"} %>
           </td>
         </tr>
         <tr>
           <td></td>
           <td>税込価格</td>
           <td><%= f.text_field :price %></td>
         </tr>
         <tr>
           <td></td>
           <td>販売ステータス</td>
           <td>
             <%= f.radio_button :is_active, true %>
             <%= f.label :is_active, '販売中', value: true %>
           </td>
           <td>
             <%= f.radio_button :is_active, false %>
             <%= f.label :sale_status, '販売停止中', value: false %>
           </td>
             <!--プルダウン-->
             <!--<%= f.label :"販売ステータス", class: "col-sm-3 control-label" %>-->
             <!--<%= f.select :is_active, [['販売中', true], ['販売停止', false]], prompt: "-- 選択してください --", class: "col-sm-9 is_sale" %>-->
         </tr>
       </table>
       <%= f.submit "新規登録", class: "btn btn-primary btn-lg pull-right" %>
     <% end %>
   </div>
</div>