<div class="contener">
   <% if @genre.errors.any? %>
     <%= @genre.errors.count %>件のエラーが発生しました
     <% @genre.errors.full_messages.each do |message| %>
       <%= message %>
     <% end %>
   <% end %>
   <div class="row">
     <div class="col-md-2 text-center" style="margin: 30px 0 30px 200px;">
       <h4 style="background-color: #eeeeee;" >ジャンル編集</h4>
     </div>
   </div>
   <!--urlにはしたいアクションのpathを書く-->
   <%= form_with model:@genre, url:admin_genre_path(@genre), local:true do |f| %>
     <div class="row">
       <div class="col-md-1"></div>
       <div class="col-md-1">ジャンル</div>
       <div class="col-2"><%= f.text_field :name  %></div>
       <div class="actions">
           <%= f.submit "変更を保存", :class => "btn btn-outline-secondary btn-block" %>
       </div>
     </div>
   <% end %>
</div>