<div class="container">
   <div class="row">
     <table class="table">
       <h1>ジャンル一覧・追加</h1>
       <!--ジャンル追加フォーム-->
       <div>
         <%= form_with model:@genre, url:'/genres', local:true do |f| %>
           <h4>ジャンル名</h4>
           <%= f.text_field :mane %>
           <%= f.submit '新規登録', class: "btn btn-success" %>
         <% end %>
       </div>
        <!--ジャンル一覧-->
        <div class="col-lg-4">
         <thead class="thead-light">
           <tr>
             <th>ジャンル</th>
           </tr>
         </thead>
         <tbody>
           <% @genres.each do |genre| %>
             <tr>
               <td class="genre_name"><%= link_to genre.name %></td>
               <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-success" %></td>
             </tr>
           <% end %>
         </tbody>
        </div>
     </table>
   </div>
 </div>