<!DOCTYPE html>
<html>
   <head>
     <title>WorkGithub</title>
     <%= csrf_meta_tags %>
     <%= csp_meta_tag %>
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>


   <body>

     <header class="navbar navbar-expand-lg" >
       <div class="container" >
         <%= link_to root_path do %>
            <%= image_tag 'logo.png' %>
         <% end %>
         <% if customer_signed_in? %>
         <ul class="nav-item">
           <span>ようこそ <%= current_customer.last_name %>さん！</span>
         </ul>
         <ul class="nav-item">
            <i class="fas fa-user faa-wrench"></i>
            <%= link_to "マイページ", customers_customer_path(current_customer.id), class: 'nav-link badge badge-pill' %>
         </ul>
         <ul class="nav-item">
            <i class="fas  fa-birthday-cake faa-wrench"></i>
            <%= link_to "商品一覧", customers_items_path, class: 'nav-link badge badge-pill ' %>
         </ul>
         
         <ul class="nav-item">
            <i class="fas fa-shopping-cart faa-wrench"></i>
            <%= link_to "カート", customers_cart_items_path, class: 'nav-link badge badge-pill' %>
         </ul>
         
         <ul class="nav-item">
            <i class="fas fa-sign-out-alt faa-wrench"></i>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link badge badge-pill' %>
         </ul>

       <% elsif admin_signed_in? %>
         <ul class="nav-item">
           <i class="fas  fa-birthday-cake fa-fw faa-wrench"></i>
           <%= link_to "商品一覧", admin_items_path, class: "nav-link badge badge-pill" %>
         </ul>
         <ul class="nav-item">
           <i class="fas fa-users fa-fw faa-wrench"></i>
           <%= link_to "会員一覧", admin_customers_path, class: "nav-link badge badge-pill" %>
         </ul>
         <ul class="nav-item">
           <i class="fas fa-file-alt fa-fw faa-wrench"></i>
           <%= link_to "注文履歴一覧", admin_homes_top_path, class: "nav-link badge badge-pill" %>
         </ul>
         <ul class="nav-item">
           <i class="fas fa-list-alt fa-fw faa-wrench"></i>
           <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link badge badge-pill" %>
         </ul>
         <ul class="nav-item">
           <i class="fas fa-sign-out-alt fa-fw faa-wrench"></i>
           <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link badge badge-pill" %>
           <i style="height:0;opacity:0">""</i>
         </ul>
         
       <% else %>
        <ul class="nav-item">
           <i class="fas fa-info-circle faa-wrench"></i>
           <%= link_to "About", items_path, class: 'nav-link  badge badge-pill' %>
         </ul>
         <ul class="nav-item">
           <i class="fas  fa-birthday-cake faa-wrench"></i>
           <%= link_to "商品一覧", customers_items_path, class: 'nav-link  badge badge-pill' %>
         </ul>
         <ul class="nav-item">
           <i class="fas fa-user-plus faa-wrench"></i>
           <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link  badge badge-pill' %>
         </ul>
         <ul class="nav-item">
           <i class="fas fa-sign-in-alt faa-wrench"></i>
           <%= link_to "ログイン", new_customer_session_path, class: 'nav-link  badge badge-pill' %>
         </ul>
       <% end %>
       
       <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
       </form>
     </div>
     </header>

       <% if flash[:notice] %>
          <p class="alert alert-success">
             <%= flash[:notice] %>
          </p>
       <% end %>
       <p class="alert1"><%= alert %></p>
       <%= yield %>

       <footer class="fixed-bottom">
          <div class="d-flex align-items-center justify-content-center text-dark" style="height: 50px;">
             <p class="mb-0" id="nomimasu">&copy; leadies</p>
          </div>
       </footer>
     </body>

</html>
