<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header class="navbar navbar-fixed-top">
      <div class="container">
  </header>

  <body>
    
    <% if customer_signed_in? %>

      <li>
        ようこそ<%= current_customer.last_name %>さん！
      </li>
      <li>
        <%= link_to "マイページ",customers_customer_path(current_customer.id), class: 'nav-link  badge badge-pill badge-light' %>
      </li>
      <li>
        <%= link_to "商品一覧", customers_items_path, class: 'nav-link  badge badge-pill badge-light' %>
      </li>
      <li>
        <%= link_to "カート", customers_cart_items_path, class: 'nav-link  badge badge-pill badge-light' %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link  badge badge-pill badge-light' %>
      </li>
    
      <% elsif admin_signed_in? %>

        <li class="nav-item">
          <%= link_to "商品一覧", admin_items_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "会員一覧", admin_customers_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "注文履歴一覧", admin_homes_top_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li>
          <%= link_to "About", items_path, class: 'nav-link  badge badge-pill badge-light' %>
        </li>
        <li>
          <%= link_to "商品一覧", customers_items_path, class: 'nav-link  badge badge-pill badge-light' %>
        </li>
        <li>
          <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link  badge badge-pill badge-light' %>
        </li>
        <li>
          <%= link_to "ログイン", new_customer_session_path, class: 'nav-link  badge badge-pill badge-light' %>
        </li>
        <% end %>
      </ul>
  <main>
     <% if flash[:notice] %>
    <p class="alert alert-success">
  　   <%= flash[:notice] %>
    </p>
      <% end %>
  </main>
    
    <%= yield %>
  </body>
</html>
